//- Layout for navbar. You can extend it if you want.
mixin navbar()
	header()&attributes(attributes)
		.container
			.row
				.col-xs-12.col-sm-12.col-md-2
					if(brand_type == 'img')
						a(href='#').navbar-brand
							img(src= navbar_brand style="width: 160px; margin-top: 12px;")
					else
						a(href='#')
							|	#{navbar_brand}
				.col-xs-12.col-sm-12.col-md-10
					nav(class="navbar", role="navigation")
						.navbar-header
							button(type='button', class='navbar-toggle' data-toggle='collapse' data-target='.main-navbar')
								
								span.sr-only Toggle navigation
								span.fa.fa-bars

					.collapse.navbar-collapse.main-navbar
							block