body
	.sec-header
		padding 20px 0px
		h2
			podding 60px 0px
			font-size 45px
			font-weight 400
			color #fff
		p
			font-size 20px
			font-weight 100
			color #fff
			padding 10px 0px
		.btn1	
			margin-top 15px	
			padding 10px 14px	
			font-size 14px
			background-color #f15364
			text-decoration none
			color #fff
			border-radius 0
			transition 0.9s
			outline 0
			letter-spacing 2px
			margin-bottom 60px
			border-color #f15364
			&:hover
				background-color transparent
				color #f15364
		.fa
			font-size 16px
			border-radius 100%
			font-weight 100
			width 35px
			height 35px
			line-height 35px
			display inline-block
			text-align center
			margin-left 5px
			margin-top 10px
			margin-bottom 20px
			color #fff
			border solid 1px
			transition 0.9s
	{body-styles}