// /* VARIABLES */


// /*************************
// 	Local color variables
// *************************/
// /* For color names was used site - http://chir.ag/projects/name-that-color */
// /* White group */
// $white: #ffffff;
// $red: #ff0000;
// /* Black group */
// $black: #000000;
// /* Ping group */
// $flirt: #9a009a;
// /* Gray group */
// $gallery: #eeeeee;
// $tundora: #444444;
// $dusty-gray: #969696;
// $mine-shaft: #333;
// $outer-space: #2d3031;
// $btn-color: #5e6568;

// /*************************
// 	Global color variables
// *************************/
// $brand-color: $flirt;
// $base-color: $tundora;
// $muted: $gallery;
// $gray: $dusty-gray;
// $gray-dark: $mine-shaft;


// /*************************
// 	Fonts variable
// *************************/
// $font-base: 'LibreBaskerville-Regular';
// $font-secondary: 'AbrilFatface-Regular';
// $font-third: 'Karla-Regular';

// $font-icons: 'fontello';

// /*************************
// 	Body variable
// *************************/
// $body-font-family: $font-base;
// $body-font-size: 15px;
// $body-line-height: 1.5;
// $body-main-color: $base-color;
// $heading-font-size: 2.05882rem;


// /*************************
// 	Links variable
// *************************/
// $link-color: $brand-color;
// $link-ff: $font-third;


// /*************************
// 	Title variable
// *************************/
// $title-ff: $font-secondary;
// $title-color: $outer-space;


// /*************************
// 	Path variables
// *************************/
// $fonts-path: '../fonts/';


// /*************************
// 	Navbar variables
// *************************/
// $content-width: 1000px;
// $breakpoint: 991px;
// $nav-height: 70px;
// $nav-background: #ffffff;
// $nav-font-color: #000000;
// $nav-font-hover-color: #ffffff;
// $link-hover-color: #9a009a;
