#contact-us
	background-image url("../img/pt5.jpg")
	padding 70px 0px
	.discrb
		padding-bottom 70px
		h2
			font-size 4rem
			margin-bottom 20px
			font-weight 900
			.span2
				color #f22
				.fa-envelope
					position absolute
					color #f22
					font-size 29px
					padding-left 10px
	.iconbox
		.fa 
			font-size 25px
			font-weight 900
			color #f22
		h3
			font-size 2rem
			font-weight 900
		p
			font-size 1.4rem
			margin-bottom 40px
	.my-inp
		border-radius 0
		height 50px
		padding 0 30px
		font-weight 900
		margin-bottom 20px
	.lge
		border-radius 0
		background-color white
		height 50px
		display block
		font-weight 900
		margin-bottom 20px
	.text1
		margin-top 20px
		border-radius 0
		padding 10px 30px
		font-weight 900
	.btn-mine
		margin-top 40px
		background #f22
		border-color #f22
		border-radius 0
		color #fff
		font-weight bold
		transition 1s
		&:hover
			background-color #fff
			color #666
	span .fa-pencil
		padding-top 34px !important
	.span
		.fa
			position absolute
			padding-left 10px
			padding-top 15px
			color #f22
			font-size 17px
#form
	padding 70px 0px
	background-image url("../img/pt1.jpg")
	.discrb
		padding-bottom 70px
		h2
			font-size 4rem
			margin-bottom 20px
			font-weight 900
			color white
			.fa-envelope
				position absolute
				color white
				font-size 29px
				padding-left 2px
				margin-top 28px
.form__wrapper	
	position relative
	padding 30px 20px
	border 1px solid white
	.input-group
		position relative
		width 100%
		margin 35px 0
		padding 10px 25px
		.line-bottom:before
		.line-bottom:after
			left 40px
	.reg__input 
		position relative
		border 0
		border-bottom 1px solid black
		border-right 1px solid black
		border-left 1px solid black
		box-shadow none
		font-size 16px
		padding 30px 10px
		text-transform capitalize
		color #333
		border-radius 0
	.heading--form
		position absolute
		top -8px
		left 0
		right 0
		text-align center
	.heading--form h2:before 
		left 0px
		border-right 0px
	.heading--form h2:after
		border-left 0px
		right 0px
	.button--form
		position absolute
		bottom -45px
		left 0
		right 0
		text-align center
		.btn--form
			position relative
			background-color transparent
			border solid 1px #fff
			border-bottom 0px
			color #fff
			display inline-block
			font-size 20px
			font-family: 'Arvo', sans-serif;
			font-weight bold
			text-transform uppercase
			padding 13px 25px
			border-radius 0px
			margin-bottom 14px
			transition 1.5s
			&:hover
				color #000
				background-color #fff
#contact-us1
	background-image url("../img/02.jpg")
	background-size cover
	padding 70px 0px
	.discrb
		padding-bottom 50px
		h2
			font-size 4rem
			margin-bottom 20px
			font-weight 900
			color #34af34
			.span2
				color #fff
				padding-left 30px
			.fa-envelope
				position absolute
				color #34af34
				font-size 29px
				margin-top 30px
				margin-left -5px
				margin-right 5px
	.iconbox
		.fa 
			font-size 25px
			font-weight 900
			color #34af34
		h3
			font-size 2rem
			font-weight 900
		p
			font-size 1.4rem
			margin-bottom 40px
	.my-inp
		border-radius 0
		height 50px
		padding 0 30px
		font-weight 900
		margin-bottom 20px
	.lge
		border-radius 0
		background-color white
		height 50px
		display block
		font-weight 900
		margin-bottom 20px
	.text1
		margin-top 0px
		border-radius 0
		padding 15px 30px
		font-weight 900
	.btn-mine
		margin-top 19px
		margin-bottom 20px
		background #34af34
		border-color #34af34
		border-radius 0
		color #fff
		font-weight bold
		transition 2s
		display inline-block
		text-align center
		padding 12px 0px
		&:hover
			background-color #fff
			color #34af34
	span .fa-pencil
		padding-top 11px !important
		color #34af34
	.span
		.fa
			position absolute
			padding-left 10px
			padding-top 15px
			font-size 17px
			color #34af34