mixin allpriceing()
	section#our-pricing
		.container
			.row
				.col-xs-12.col-sm-12.col-md-6.col-md-offset-3.text-center
					.discrb
						h2 Pricing Table &Offers
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
			.row
				.col-xs-12.col-sm-12.col-md-6.col-md-3.text-center
					.sub-discrb
						h2 Free Plan
						h1 Free
						h3 10 TB Of Space
						h3 10 TB Bandwidth
						h3 Custom Domain
						button.btn.btn-default.btn-lg.btn-mine See More
				.col-xs-12.col-sm-12.col-md-6.col-md-3.text-center
					.sub-discrb
						h2 Basic Plan
						h1 $199
						h3 10 TB Of Space
						h3 10 TB Bandwidth
						h3 Custom Domain
						button.btn.btn-default.btn-lg.btn-mine See More
				.col-xs-12.col-sm-12.col-md-6.col-md-3.text-center
					.sub-discrb
						h2 Premium Plan
						h1 $299
						h3 10 TB Of Space
						h3 10 TB Bandwidth
						h3 Custom Domain
						button.btn.btn-default.btn-lg.btn-mine See More
				.col-xs-12.col-sm-12.col-md-6.col-md-3.text-center
					.sub-discrb
						h2 Premium Plan
						h1 $1025
						h3 10 TB Of Space
						h3 10 TB Bandwidth
						h3 Custom Domain
						button.btn.btn-default.btn-lg.btn-mine See More
	section#priceing
		.container
			.row
				.col-md-12
					.discrb.text-center
						h2 
							|   RANKIG &  
							span.span2 PRICING
			.row
				.col-md-4
					.text-center
						.pricebox
							.icons
								.fa.fa-camera-retro
							h2 0$/Month
							hr
							h3 FREE
							hr
							p 5 Projects
							p 12 Team Members
							p 44 Personal Contacts
							p 400 Messages
							br
							button.btn.btn-default.btn-mine.btn-lg Get Started
				.col-md-4
					.text-center
						.pricebox
							.icons
								.fa.fa-mortar-board
							h2 82$/Month
							hr
							h3 PREMIUM
							hr
							p 115 Projects
							p 1112 Team Members
							p 444 Personal Contacts
							p 2400 Messages
							br
							button.btn.btn-default.btn-mine.btn-lg Get Started
				.col-md-4
					.text-center
						.pricebox
							.icons
								.fa.fa-laptop
							h2 189$/Month
							hr
							h3 PLANTIUM
							hr
							p 345 Projects
							p 1552 Team Members
							p 4674 Personal Contacts
							p 6400 Messages
							br
							button.btn.btn-default.btn-mine.btn-lg Get Started
	section#pricing
		.container
			.row
				.col-md-12
					.discrb.text-center
						h2 
							| PRICING  
							span.span2 PLAN 
								i.fa.fa-usd
				.col-md-4
					.box
						.discrb
							h3.text-center Starter Plan
							hr
							h2.text-center 
								span
									i.fa.fa-usd  
								| 10
							hr
							.sub-discrb
								p
									span
										i.fa.fa-check
									| 30 days trial
								p
									span
										i.fa.fa-close
									| Functional office
								p
									span
										i.fa.fa-close
									| cloud database
								p
									span
										i.fa.fa-close
									| Email notifications
								p
									span
										i.fa.fa-close
									| Free of adds
								p
									span
										i.fa.fa-close
									| Unlimited Features
								p
									span
										i.fa.fa-close
									| Private Group
						button.btn.btn-default.btn-mine.btn-block.btn-lg BUY NOW
				.col-md-4
					.box
						.discrb
							h3.text-center Popular Plan
							hr
							h2.text-center 
								span
									i.fa.fa-usd  
								| 12
							hr
							.sub-discrb
								p
									span
										i.fa.fa-check
									| 30 days trial
								p
									span
										i.fa.fa-check
									| Functional office
								p
									span
										i.fa.fa-close
									| cloud database
								p
									span
										i.fa.fa-close
									| Email notifications
								p
									span
										i.fa.fa-check
									| Free of adds
								p
									span
										i.fa.fa-close
									| Unlimited Features
								p
									span
										i.fa.fa-close
									| Private Group
						button.btn.btn-default.btn-mine.btn-block.btn-lg BUY NOW
				.col-md-4
					.box
						.discrb
							h3.text-center Business Plan
							hr
							h2.text-center 
								span
									i.fa.fa-usd  
								| 16
							hr
							.sub-discrb
								p
									span
										i.fa.fa-check
									| 30 days trial
								p
									span
										i.fa.fa-check
									| Functional office
								p
									span
										i.fa.fa-check
									| cloud database
								p
									span
										i.fa.fa-check
									| Email notifications
								p
									span
										i.fa.fa-check
									| Free of adds
								p
									span
										i.fa.fa-close
									| Unlimited Features
								p
									span
										i.fa.fa-close
									| Private Group
						button.btn.btn-default.btn-mine.btn-block.btn-lg BUY NOW
