#our-pricing
	background #f8f8f8
	font-family 'Arvo', sans-serif
	padding 70px 0px
	.discrb
		padding-bottom 70px
		h2
			margin-bottom 20px
			font-size 4rem
			color #ffb000
			font-weight 900
		p 
			font-size 2rem
	.sub-discrb
		padding 10px
		transition 0.5s
		border solid 1px black
		border-radius 30px
		box-shadow 0px 2px 18px 0px #ddd
		&:hover
			border 0px
			border solid 1px #ffb000
			padding 20px
			margin-top -12px
		h2 
			font-size 2rem
			color #000
			font-weight 900
		h1
			margin-top 30px
			margin-bottom 60px
			color #ffb000
			font-size 5rem
			font-weight 900
		h3
			color #000
			font-size 1.8rem
			font-weight 900
		.btn-mine
			margin-top 40px
			margin-bottom 40px
			border-radius 30px
			outline none
			color #fff
			border-color #000
			font-weight 900
			padding 8px 20px
			transition 1s
			background #000
			&:hover
				background #ffb000
	.sub-discrb2
		padding 10px
		transition 0.5s
		border solid 1px black
		border-radius 30px
		box-shadow 0px 0px 108px 0px #ddd
		&:hover
			border 0px
			border solid 1px #ffb000
			padding 20px
		h2 
			font-size 2rem
			color #000
			font-weight 900
		h1
			margin-top 30px
			margin-bottom 60px
			color #ffb000
			font-size 5rem
			font-weight 900
		h3
			color #000
			font-size 1.8rem
			font-weight 900
		.btn-mine
			margin-top 40px
			margin-bottom 40px
			border-radius 30px
			color #fff
			outline none
			border-color #000
			font-weight 900
			padding 8px 20px
			transition 1s
			background #000
			&:hover
				background #ffb000
			line-height 24px
#priceing
	background-image url("../img/zfr/01.jpg")
	font-family 'Arvo', sans-serif
	padding 70px 0px
	.discrb
		padding-bottom 70px
		h2
			font-size 4rem
			margin-bottom 20px
			font-weight 900
			color #353030
			.span2
				color #2eab2e
	.pricebox
		border 2px solid rgba(122, 122, 122, 0.1)
		padding 20px 0
		background-color #fff
		border-radius 5px
		transition 0.5s
		&:hover
			border 2px solid #2eab2e
			padding 30px 0px
			margin-top -8px
		.icons
			.fa
				font-size 8rem
				color #2eab2e
	h2
		font-size 2.3rem
		color #2eab2e
	h3
		font-size 2rem
		font-weight 600
		color rgba(122, 122, 122, 0.5)
	hr
		border double 3px rgba(122, 122, 122, 0.1)
	p 
		margin-top 20px
		font-size 1.7rem
	.btn-mine
		margin-top 20px
		border-radius 0
		background #2eab2e
		color #ffffff
		transition 0.5s
		border solid 1px #2eab2e
		&:hover
			background #ffffff
			color #2eab2e
#pricing
	background #f5efef
	font-family 'Arvo', sans-serif
	padding 70px
	.discrb
		padding-bottom 70px
		h2
			font-size 4rem
			margin-bottom 20px
			font-weight 900
			.span2
				color #f22
				.fa-usd
					position absolute
					color #f22
					font-size 22px
					padding-left 10px
	.box
		box-shadow 0px 0px 5px 0px #ddd
		padding 20px 0
		background white
		transition 0.15s
		&:hover
			border solid 1px #fb6c6c
		.fa-usd
			font-size 20px
		h3
			font-size 2.5rem
			font-size 900
		h2 
			font-size 6rem
		.sub-discrb
			padding 0 20px
			@media(max-width:992px)
				padding-left 40%
			p
				font-size 1.3rem
				line-height 28px
			.fa-check
				color green
				font-size 14px
				margin-right 40px
			.fa-close
				font-size 14px
				margin-right 40px
				color #f22
		.btn-mine
			margin-bottom -20px
			background #f22
			border-color #f22
			border-radius 0
			color #fff
			font-weight bold
			transition 1s
			&:hover
				background-color #fff
				color #666