.shapes
	position absolute
	height 100%
	width 100%
	left 0px
	top 0px
	.circle-big
		position absolute
		background-color primary
		height 500px
		width 500px
		border-radius 50%
		top -65px
		right -220px
		
	.circle-big-2
		position absolute
		background-color primary
		height 500px
		width 500px
		border-radius 50%
		bottom -65px
		left -220px
.shapes-2
	position absolute
	height 100%
	width 100%
	left 0px
	top 0px
	.circle-big
		position absolute
		background-color primary
		height 400px
		width 400px
		border-radius 50%
		top -147px
		right -84px
		
	.circle-big-2
		position absolute
		background-color primary
		height 400px
		width 400px
		border-radius 50%
		bottom -147px
		left -84px