mixin shape()

	// ================== circle shape right starts here =====================

	div()&attributes(attributes).shapes
		.circle-big
			#particles-js-two
		.circle-big-2
			#particles-js-three
	
	// ================== circle shape right ends here =======================

mixin shape-2()

	// ================== circle shape right starts here =====================

	div()&attributes(attributes).shapes-2
		.circle-big
			#particle-skills
		.circle-big-2
			#particle-skills-2
	
	// ================== circle shape right ends here =======================